//.hero #homelogo
  position: relative
  text-align: center


//.hero #homelogo:before
  background: 50% 50% / cover
  bottom: 0
  content: ""
  left: 0
  position: absolute
  right: 0
  top: 0
  display: block
  background-image: url(img/hero_bg.png)
  background-size: cover
  transform-origin: center center 0
  transform: translateZ(-1px) scale(2)
  z-index: -1
  min-height: 100vh



.hero
  background-image: url("../img/hero_bg.png")
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  height: 800px
  text-align: center
  overflow: auto





#homelogo
  margin-top: 100px
  margin-bottom: 50px
  display: inline-block

#joinbtn
  text-align: center
  display: inline-block
